main{
    width: 90%;
    margin: auto;
}

article{
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: var(--base-color);
    border-radius: 15px;

    padding: 16px;
}

.feedback-name-date{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: clamp(0.75rem, -0.875rem + 8.333vw, 2.5rem); 
}

form{
    background-color: antiquewhite;
    min-width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field{
    width: 75%;
}

form textarea{
    max-width: 75%;
    resize: none;
}