:root{
    --hat_and_floor: #F2F4F3;
    --background: #FBFEFB;
    --hat_and_floor_text: black;
    --logo_background: #d00000;
    --logo_border_color: #432818;
    --logo-text: #BAA9B7;
}


/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: bisque;
}

body{
    min-height: 100svh;

    background-color: var(--background);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

header, footer{
    background-color:var(--hat_and_floor);
}

header{
    flex-basis: 70px;
}

footer{
    margin-top: 24px;
    flex-basis: 100px;
}

/* ================================================== */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section{
    min-height: 100px;
}
/* ================================================== */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    padding: 8px;
    background-color: var(--logo_background);
    border-radius: 5px;
    border-style: dotted;
}

.div-logo p{
    font-size: clamp(.35rem, -0.875rem + 8.333vw, 1.5rem); 
    margin-left: clamp(0.35rem, -0.875rem + 8.333vw, 1.5rem); 
    margin-right: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem); 
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

li{
    margin-left: 16px;
    margin-right: 16px;
}

a{
    text-decoration: none;
}

a, a:visited{
    color: var(--hat_and_floor_text);
}

/* ================================================== */

.hero{
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--logo_background);
    border-radius: 3px;
    border-style: dotted;
    border-width: 4px;
    border-color: var(--logo_border_color);
}

.hero-text p {
    font-size: clamp(2.75rem, -0.875rem + 8.333vw, 8.5rem); 
    margin-left: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem); 
    margin-right: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem); 
    color: var(--logo-text);
}

.div-logo p{
    color: var(--logo-text);
}

/* ================================================== */

.home-content{
    display: flex;
    justify-content: space-evenly;
}

.weare, .weoffer{
    width: 40%;

    font-size: 24px;
}

.subtitle{
    text-align: center;
    font-size: 32px;
}

.weoffer ul{
    list-style-type:circle;
    flex-direction: column;
    align-items: flex-start;
}
