/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: bisque;
}

body{
    min-height: 100svh;

    background-color: darksalmon;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

header, footer{
    background-color:chocolate;
}

header{
    flex-basis: 70px;
    
}

footer{
    flex-basis: 100px;
}

/* ================================================== */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section{
    min-height: 100px;
}
/* ================================================== */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    width: 100%;

}

li{
    margin-left: 16px;
    margin-right: 16px;
}

a{
    text-decoration: none;
}

a, a:visited{
    color: lime;
}

/* ================================================== */

.hero{
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: aliceblue;
    border-radius: 5px;
    border-style: dotted;
}

.hero-text p {
    font-size: clamp(2.75rem, -0.875rem + 8.333vw, 8.5rem); 
    margin-left: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem); ;
    margin-right: clamp(0.5rem, -0.875rem + 8.333vw, 1.5rem); ;
}
